.layout-b .page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0;
}

.layout-b .column.col1 {
  height: 187pt;
}

.layout-b .column.col2 {
  height: 187pt;
  margin-top: 22pt;
}

.layout-b .column.col3 {
  height: 187pt;
  margin-top: 22pt;
}
