.layout-a .page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0;
}

.layout-a .column.top {
  height: 187pt;
}

.layout-a .column.middle {
  height: 187pt;
  margin-top: 22pt;
}

.layout-a .column.bottom {
  height: 167pt;
  margin-top: 44pt;
}
