<style>
.layout-a .page {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0;
}
.layout-a .column.top {
  height: 187pt;
}
.layout-a .column.middle {
  height: 187pt;
  margin-top: 22pt;
}
.layout-a .column.bottom {
  height: 167pt;
  margin-top: 44pt;
}
</style>
<div class="page layout-a">
  <div class="column body top" data-column-kind="body" data-column-id="top"></div>
  <div class="column body middle" data-column-kind="body" data-column-id="middle"></div>
  <div class="column footnote bottom" data-column-kind="footnote" data-column-id="bottom"></div>
</div>