<style>
.layout-2 .page {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0;
}
.layout-2 .column.top {
  height: 187pt;
}
.layout-2 .column.middle {
  height: 187pt;
  margin-top: 22pt;
}
.layout-2 .column.bottom {
  height: 187pt;
  margin-top: 22pt;
}
</style>
<div class="page layout-2" data-page-mode="endnote">
  <div class="column body top" data-column-kind="body" data-column-id="top"></div>
  <div class="column body middle" data-column-kind="body" data-column-id="middle"></div>
  <div class="column body bottom" data-column-kind="body" data-column-id="bottom"></div>
</div>