<style>
.layout-a .page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0;
}
.layout-a .column.top {
  height: 187pt;
}
.layout-a .column.middle {
  height: 187pt;
  margin-top: 22pt;
}
.layout-a .column.bottom {
  height: 167pt;
  margin-top: 44pt;
}
</style>
<div class="page layout-a" data-layout="A">
  <div class="page-content" data-slot="body-flow">
    <div class="column body top" data-column="top" data-col-type="body"></div>
    <div class="column body middle" data-column="middle" data-col-type="body"></div>
    <div class="column footnote bottom" data-column="bottom" data-col-type="footnote"></div>
  </div>
</div>
