<style>
.layout-b-endnote .column.top {
  height: 66mm;
}
.layout-b-endnote .column.middle {
  height: 66mm;
  margin-top: 8mm;
}
.layout-b-endnote .column.bottom {
  height: 66mm;
  margin-top: 8mm;
}
</style>
<div class="layout-b-endnote" data-page-mode="endnote">
  <div class="column body top" data-column-kind="body" data-column-id="top"></div>
  <div class="column body middle" data-column-kind="body" data-column-id="middle"></div>
  <div class="column body bottom" data-column-kind="body" data-column-id="bottom"></div>
</div>