<style>
.layout-c .page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0;
}
.layout-c .column.top {
  height: 187pt;
}
.layout-c .column.middle {
  height: 187pt;
  margin-top: 22pt;
}
.layout-c .column.bottom {
  height: 187pt;
  margin-top: 22pt;
}
</style>
<div class="page layout-c" data-layout="C" data-role="endnote">
  <div class="page-content" data-slot="body-flow">
    <div class="column body top" data-column="top" data-col-type="body"></div>
    <div class="column body middle" data-column="middle" data-col-type="body"></div>
    <div class="column body bottom" data-column="bottom" data-col-type="body"></div>
  </div>
</div>
